<div *ngIf="!isLoading" class="h-100 bg-fog overflow-auto">
  <!-- BEGIN OPPONENT AVATAR & DECK -->
  <div class="row h-xl-33">
    <div id="opponent-avatar" class="col-6 col-xl-3 d-flex align-items-center justify-content-end justify-content-xl-center">
      <app-avatar-board [data]="match.Players[pIndex[1]]" [damage]="totalDamage[pIndex[1]]" [hasPassed]="hasPlayerPassed(1)"
        [result]="match.Result"></app-avatar-board>
      <!-- [cardRemaining]="arrayLength(cardsDrawed[pIndex[1]])" -->
    </div>
    <div class="col-6 d-none d-xl-block placeholder"></div>
    <div id="opponent-deck" class="d-flex flex-row justify-content-start justify-content-xl-center align-items-center col-6 col-xl-3">
      <app-card-stack class="m-1 m-md-2" [data]="cardsDiscarded[pIndex[1]]" [icon]="_ICON.DISCARDED" [title]="'Opponent\'s discarded pile'"></app-card-stack>
      <app-card-stack class="m-1 m-md-2" [data]="cardsInDecks[pIndex[1]]" [isReveal]="false" [icon]="_ICON.DECK" [title]="'Opponent\'s deck'"></app-card-stack>
    </div>
  </div>
  <!-- END OPPONENT AVATAR & DECK -->
  <!-- BEGIN MAIN BOARD -->
  <div class="row board col-12 col-xl-6 flex-column m-auto px-0">
    <!-- BEGIN OPPONENT'S DRAWED CARDS -->
    <div id="opponent-drawed-card" class="col-12 mx-auto p-2 board__drawedCards">
      <app-card-row class="rounded" [isReveal]="false" [data]="sort(cardsDrawed[pIndex[1]])"></app-card-row>
      <div class="board__remainingCards text-primary d-flex flex-column align-items-center font-lg">
        <img [src]="_ICON.CARDS" draggable="false" class="icon">
        <span>{{arrayLength(cardsDrawed[pIndex[1]])}}</span>
      </div>
    </div>
    <!-- END OPPONENT'S DRAWED CARDS -->
    <!-- BEGIN BATTLEFIELD -->
    <div class="col-12 mx-auto px-0 d-flex flex-column" style="flex: auto; box-shadow: 0px 0px 25px #1f1804">
      <div id="opponent-battlefield" class="d-flex flex-column justify-content-around bg-board border-wood" style="flex: 0.5">
        <app-battlefield-row *ngFor="let item of _CARD_ROWS.slice().reverse(); let i = index" [data]="cardsPlaced[pIndex[1]][_CARD_ROWS.length-1-i].Cards"
          [type]="item.NAME"></app-battlefield-row>
      </div>

      <div class="border-wood">
        <div class="progress" style="height: 10px;">
          <div class="progress-bar" [ngClass]="remainingTime > 25 ? 'bg-warning' : 'bg-danger'" [style.width]="remainingTime + '%'">{{turnTimer/1000
            | number:'1.0-0'}}s</div>
        </div>
      </div>

      <div id="player-battlefield" class="d-flex flex-column justify-content-around bg-board border-wood" style="flex: 0.5">
        <app-battlefield-row *ngFor="let item of _CARD_ROWS; let i = index" [data]="cardsPlaced[pIndex[0]][i].Cards"
          [type]="item.NAME"></app-battlefield-row>
      </div>
    </div>
    <!-- END BATTLEFIELD -->
    <!-- BEGIN PLAYER'S DRAWED CARDS -->
    <div id="player-drawed-card" class="col-12 mx-auto p-2 board__drawedCards">
      <app-card-row [data]="sort(cardsDrawed[pIndex[0]])" (dblClickCard)="submitCard($event, 0)"></app-card-row>
      <div class="board__remainingCards text-primary d-flex flex-column align-items-center font-lg">
        <img [src]="_ICON.CARDS" draggable="false" class="icon">
        <span>{{arrayLength(cardsDrawed[pIndex[0]])}}</span>
      </div>
    </div>
    <!-- END PLAYER'S DRAWED CARDS -->
  </div>
  <!-- END MAIN BOARD -->
  <!-- BEGIN INFO PANELS -->
  <div class="row h-xl-33 info-panel">
    <div id="card-effect" class="col-12 col-md-6 col-xl-3 text-center d-flex align-items-center justify-content-center">
      <div class="info-panel__container">
        <div id="effect-card-holder" class="bg-black-75 w-100 rounded my-2"></div>
        <button id="pass-button-bar" class="btn btn-block btn-dark my-2 text-ellipsis" [disabled]="!isPlayerTurn || hasPlayerPassed(0)"
          (click)="pass(0)">Pass [Hold Space]</button>
        <button id="pass-button-bar" class="btn btn-block btn-dark my-2 text-ellipsis" (click)="finishMatch(1)">Exit
          [ESC]</button>
      </div>
    </div>
    <div class="col-6 d-none d-xl-block placeholder"></div>
    <div id="card-preview" class="col-12 col-md-6 col-xl-3 d-flex align-items-center justify-content-center">
      <div class="p-3 bg-black-75 rounded d-flex flex-row flex-xl-column align-items-center">
        <app-card [type]="'LARGE'" [data]="selectedCard"></app-card>
        <app-card-info [data]="selectedCard"></app-card-info>
      </div>
    </div>
  </div>
  <!-- END INFO PANELS -->
  <!-- BEGIN PLAYER AVATAR & DECK -->
  <div class="row h-xl-33">
    <div id="player-avatar" class="col-6 col-xl-3 d-flex align-items-center justify-content-end justify-content-xl-center"
      style="z-index: 20">
      <app-avatar-board [data]="match.Players[pIndex[0]]" [isReversed]="true" [damage]="totalDamage[pIndex[0]]"
        [hasPassed]="hasPlayerPassed(0)" [result]="match.Result"></app-avatar-board>
      <!-- [cardRemaining]="arrayLength(cardsDrawed[pIndex[0]])" -->
    </div>
    <div class="col-6 d-none d-xl-block placeholder"></div>
    <div id="player-deck" class="d-flex flex-row justify-content-start justify-content-xl-center align-items-center col-6 col-xl-3">
      <app-card-stack class="m-1 m-md-2" [data]="cardsDiscarded[pIndex[0]]" [icon]="_ICON.DISCARDED" [title]="'Your discarded pile'"></app-card-stack>
      <app-card-stack class="m-1 m-md-2" [data]="cardsInDecks[pIndex[0]]" [isReveal]="false" [icon]="_ICON.DECK"
        [title]="'Your deck'"></app-card-stack>
    </div>
  </div>
  <!-- END PLAYER AVATAR & DECK -->
</div>
