@import 'src/theme/theme-variables.scss';
@import "~bootstrap/scss/mixins/_breakpoints";

#effect-card-holder {
  height: 100px;
}
#opponent-battlefield, #player-battlefield {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: overlay;
}

#branch-name {
  color: rgba(48, 26, 2, 0.4);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.board {
  position: relative;
  width: 100%;

  &__drawedCards { position: relative; }
  &__remainingCards {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    right: -2em;
  }
}

// @include media-breakpoint-up(xl) {
//   .board {
//     &__remainingCards {
//     }
//   }
// }

.placeholder {
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (min-Width: 1200px) {
  .board {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
  }
}

.info-panel {
  &__container {
    max-width: 200px;
    width: 100%;
  }
}
