<div class="container-fluid d-flex flex-column flex-md-row flex-wrap">
  <div class="col-12 mb-3 col-xl-5 order-2 order-xl-1">
    <app-deck-collection label="Card in Deck" [cardSet]="cardsInDeck" (cardHover)="selectCard($event)" (cardDblClick)="moveCardToCollection($event)"
      [hints]="{'Hover': 'Preview', 'Double-click': 'Move to Collection'}">
    </app-deck-collection>
  </div>

  <div class="col-12 mb-3 col-xl-2 order-1 order-xl-2">
    <div class="card mb-3 bg-black-75">
      <div class="card-header bg-dark d-flex align-items-center px-0">
        <button class="btn btn-dark" (click)="previousFaction()">
          <i class="fa fa-caret-left"></i>
        </button>
        <h4 class="text-primary mx-auto my-1">{{factionName || 'Faction'}}</h4>
        <button class="btn btn-dark" (click)="nextFaction()">
          <i class="fa fa-caret-right"></i>
        </button>
      </div>
      <div class="card-body d-flex flex-column align-items-center justify-content-center py-5">
        <app-card class="mx-auto" [data]="selectedCard" [type]="'LARGE'" [isHoverable]="false"></app-card>
        <app-card-info [data]="selectedCard"></app-card-info>
      </div>
    </div>

    <app-deck-summary [cardSet]="cardsInDeck" label="Cards in Deck" class="d-block mb-3"></app-deck-summary>
    <app-deck-summary [canValidate]="false" [cardSet]="cardsInCollection" label="Cards in Collection"
      class="d-block mb-3"></app-deck-summary>

    <button class="btn btn-primary btn-block mb-3" *ngIf="match" [disabled]="!isDeckValid || isReady"
      (click)="ready()">{{isReady ? 'Waiting for opponent...' : 'Ready'}}</button>
  </div>

  <div class="col-12 mb-3 col-xl-5 order-3">
    <app-deck-collection label="Card in Collection" [cardSet]="cardsInCollection" (cardHover)="selectCard($event)" (cardDblClick)="moveCardToDeck($event)"
      [hints]="{'Hover': 'Preview', 'Double-click': 'Move to Deck'}">
    </app-deck-collection>
  </div>
</div>
