/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

// Import UIkit.
// Import default variables and available mixins.
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";

// Theme customization
@import "theme/theme";

$screen-list: sm md lg xl;

html, body {
  background-color: map-get($theme-colors, dark);
  background: map-get($background, main);
  background-size: cover;
  font-size: map-get($font-size, $key: md);
  height: 100%;
}

.btn-theme {
  color: map-get($theme-colors, dark);
  background-color: map-get($theme-colors, light);
  &:hover {
    background-color: map-get($theme-colors, warning);
  }
}

.icon {
  width: 1em;
  height: 1em;
}

.bg-black-25 { background-color: $black-25; }
.bg-black-50 { background-color: $black-50; }
.bg-black-75 { background-color: $black-75; }

@each $key, $value in $background {
  .bg-#{$key}{
    background: $value;
    background-size: 100% 100%;
  }
}

$height-list: 33.3333 66.666;
@each $value in $height-list {
  .h-#{floor($value)} {
    height: #{$value + "%"};
  }
  @each $size in $screen-list {
    @include media-breakpoint-up(#{$size}) {
      .h-#{$size}-#{floor($value)} {
        height: #{$value + "%"} !important;
      }
    }
  }
}

.hover-gold-border:hover {
  box-shadow: 0px 0px 10px goldenrod !important;
  border: 2px solid gold !important;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text-capitalize { text-transform: capitalize; }

$overflow: hidden auto visible;
@each $val in $overflow {
  .overflow-#{$val} { overflow: #{$val}; }
  .overflow-x-#{$val} { overflow-x: #{$val}; }
  .overflow-y-#{$val} { overflow-y: #{$val}; }
}

.avatar {
  $size: 100px;
  $size-sm: 60px;
  $size-lg: 160px;
  &.avatar-sm {
    min-width: $size-sm;
    width: $size-sm;
    height: $size-sm;
  }
  &.avatar-lg {
    min-width: $size-lg;
    width: $size-lg;
    height: $size-lg;
  }
  position: relative;
  min-width: $size;
  width: $size;
  height: $size;

  .avatar-image {
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
  }
}
@keyframes fade {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
@keyframes scale-down {
  0% { transform: scale(1.2) }
  100% { transform: scale(1) }
}

@font-face {
  font-family: 'LifeCraft';
  src: url('assets/fonts/LifeCraft_Font.ttf'); /* IE9 Compat Modes */
  src: url('assets/fonts/LifeCraft_Font.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@each $key, $value in $font {
  .font-#{$key} {
    font-family: $value;
  }
}

@each $key, $value in $font-size {
  .font-#{$key} {
    font-size: $value;
  }
}

@each $key, $value in $border {
  .border-#{$key} {
    border: 5px solid transparent;
    border-image: $value;
    box-sizing: border-box;
  }
}
