@import 'src/theme/theme-variables.scss';

:host::ng-deep {
  .card-shield {
    cursor: pointer;
    padding: 10em 3em 10em 3em;
    $color1: transparent;
    $color2: rgba(0, 0, 0, 0.45);
    $color3: rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to bottom, $color1, $color2, $color3, $color2, $color1);

    &__shield {
      padding-top: 100%;
      width: 75%;
      height: 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }

    &__sword {
      &__container {
        width: 100%;
        height: 100%;
        padding-top: 25%;
      }

      padding-top: 100%;
      width: 100%;
      height: 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(139deg) translateY(93px) translateX(-88px)
    }

    &:before,
    &:after {
      content: '';
      z-index: 1;
      width: 2px;
      top: 0;
      bottom: 0;
      position: absolute;
      background-image: linear-gradient(to bottom, transparent, #{theme-color('primary')}, transparent);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}
