<div class="card-shield uk-transition-toggle uk-position-relative">
  <div class="card-shield__sword__container uk-transition-opaque uk-transition-slide-top-small">
    <div class="card-shield__sword" [attr.data-src]="IMAGES[set].SWORD" uk-img>
    </div>
  </div>
  <div class="uk-position-center uk-flex uk-flex-center uk-flex-middle w-100 h-100 ">
    <div [attr.data-src]="IMAGES[set].SHIELD" uk-img
      class="card-shield__shield uk-transition-opaque uk-transition-slide-bottom-small">
    </div>
  </div>
  <div class="w-100 uk-flex uk-flex-center">
    <button class="btn btn-primary text-primary w-50 bg-black-50">
      <span class="h5">{{label}}</span>
    </button>
  </div>
</div>
