<div class="login-container d-flex flex-column align-items-center justify-content-center">
  <h1 id="branch-name" class="font-weight-bold text-warning text-center" translate>GWENT <i class="small"><small>of</small></i> WARCRAFT</h1>
  <!-- <div class="d-inline-block ml-3" ngbDropdown>
    <button id="language-dropdown" class="btn btn-sm btn-light" ngbDropdownToggle>
      {{currentLanguage}}
    </button>
    <div ngbDropdownMenu aria-labelledby="language-dropdown">
      <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
        {{language}}
      </button>
    </div>
  </div> -->
  <!-- <h4 class="card-title text-center">
    <i class="far fa-3x fa-user-circle text-muted"></i>
  </h4> -->
  <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate class="mt-5 p-3 bg-black-75 rounded">
    <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
      Username or password incorrect.
    </div>
    <div class="form-group">
      <label class="d-block">
        <input type="text" class="form-control bg-dark text-warning" formControlName="username" autocomplete="username"
          [placeholder]="'Username' | translate" />
        <!-- <small [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched" class="text-danger" translate>
          Username is required
        </small> -->
      </label>
      <label class="d-block">
        <input type="password" class="form-control bg-dark text-warning" formControlName="password" autocomplete="current-password"
          [placeholder]="'Password' | translate" required/>
        <!-- <small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched" class="text-danger" translate>
          Password is required
        </small> -->
      </label>
      <div class="form-check text-white text-center">
        <label class="form-check-label">
          <input type="checkbox" formControlName="remember" />
          <span translate>Remember me</span>
        </label>
      </div>
    </div>

    <button class="btn btn-success w-100 mt-1 mb-4" type="submit" disabled>
      <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
      <span translate>Login using Gwent Account</span>
    </button>
    <button class="btn btn-primary w-100 my-1" type="button" (click)="socialLogIn(_SOCIAL_KEY.GOOGLE)" disabled>
      <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
      <span translate>Login using Facebook Account</span>
    </button>
    <button class="btn btn-danger w-100 my-1" type="button" (click)="socialLogIn(_SOCIAL_KEY.GOOGLE)">
      <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
      <span translate>Login using Google Account</span>
    </button>
  </form>
</div>
