@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.login-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

form {
  max-width: 300px;
  .form-control:focus {
    border-width: 2px;
    border-color: gold;
    box-shadow: 0px 0px 5px goldenrod;
  }
  .form-check-label {
    text-shadow: 0px 0px 3px black;
    transform: translateX(-10px);
  }
}

#branch-name {
  text-shadow: 0px 0px 5px black;
  word-spacing: -0.15em;
}
@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}
