<div *ngIf="show" [@slideDownAnimation] class="notice-container container-fluid text-light text-center d-flex align-items-center justify-content-center px-0 unselectable">
  <div class="container-fluid bg-black-75 p-5">
    <h1 class="notice-content"> <i *ngIf="showLoader" class="fa fa-cog fa-spin"></i> {{message}} </h1>
    <!-- <button class="btn btn-primary"><i class="fa fa-door-open mr-1"></i>Lobby</button> -->
  </div>
</div>
