<div class="d-flex align-items-center w-100 mx-0 px-0 rounded bg-transparent battlefield">
  <div class="battlefield__placeholder d-flex align-items-center justify-content-center">
    <app-stat-box [data]='damage' [icon]="_ICON.DAMAGE" [fontSize]="18" class=" border-wood"></app-stat-box>
  </div>
  <div class="battlefield__cards w-100 px-4">
    <app-card-row [data]="data"></app-card-row>
  </div>
  <div class="battlefield__placeholder battlefield__placeholder--{{type}}"></div>
</div>
