@import "src/theme/theme-variables";

.battlefield {
  &__placeholder {
    width: 12.5%;
    height: calc(#{$card-height});
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 20%;
      bottom: 20%;
      left: 20%;
      right: 20%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%;
      opacity: 0.75;
    }
    &--melee:after { background-image: url(assets/icons/sword.png); }
    &--ranged:after { background-image: url(assets/icons/arrow.png); }
    &--magic:after { background-image: url(assets/icons/magic.png); }
  }
  &__cards {
    $border: 2px dashed #1b110154;
    border-top: $border;
    border-bottom: $border;
  }
}
