<div class="card bg-black-75 h-100">
  <div class="card-header bg-dark text-center">
    <h4 class="text-primary my-1">{{label || 'Card collection'}}</h4>
  </div>
  <div class="card-body d-flex flex-wrap justify-content-center align-content-start">
    <app-card class="m-1" [data]="item" [type]="'NORMAL'" *ngFor="let item of cardSet" (mouseenter)="onHover(item)"
      (mouseout)="onBlur(item)" (click)="onClick(item)" (dblclick)="onDblClick(item)"></app-card>
  </div>
  <div class="card-footer text-light d-flex flex-column flex-sm-row justify-content-around">
    <span *ngFor="let hint of hints">[{{hint.key}}] {{hint.value}}</span>
  </div>
</div>
