<div class="d-flex flex-column flex-xl-row avatarContainer justify-content-center align-items-center text-center unselectable bg-black-75 rounded p-1 p-md-3">
  <div class="avatarContainer__image rounded mb-0 mb-md-2" [ngStyle]="{'backgroundImage' : 'url(' + data?.ImageUrl + ')'}"></div>
  <div class="d-flex flex-column text-left px-2">
    <span class="d-none d-md-block text-light text-ellipsis" style="width: 125px;">{{data?.Name}}</span>
    <span class="d-none d-md-block text-light">Level {{data?.Level || '??'}}</span>
    <div class="d-flex flex-row">
      <i class="avatarContainer__gem far fa-gem m-2" [ngClass]="{'disable' : isLifeDisabled(item)}" *ngFor="let item of result"></i>
      <!-- <app-stat-box [data]="cardRemaining" [icon]="_ICON.CARDS" class="mx-1"></app-stat-box> -->
      <app-stat-box [data]="damage" [icon]="_ICON.DAMAGE" class="mx-1"></app-stat-box>
    </div>
  </div>
</div>
