@import "src/theme/theme-variables";

$gem-colors: (
  active: lime,
  disabled: red,
);

.avatarContainer {
  position: relative;
  &__image {
    $size: calc(#{$card-height});
    width: $size;
    height: 0;
    padding-top: $size;
    background-position: center;
    background-size: cover;
  }

  &__gem {
    font-size: calc(calc(#{$card-height}) / 4);
    color: map-get($map: $gem-colors, $key: active);
    border-radius: 50%;
    &.disable {
      animation: scale-up-down 1s;
      color: map-get($map: $gem-colors, $key: disabled);
    }
  }
}

@keyframes scale-up-down {
  0% {
    transform: scale(1);
    color: map-get($map: $gem-colors, $key: active);
  }
  50% { transform: scale(1.25); }
  100% {
    transform: scale(1);
    color: map-get($map: $gem-colors, $key: disabled);
  }
}
