<div [@enterAnimation] class="d-flex p-2 bg-black-50 rounded">
	<div class="avatar avatar-sm mr-2">
	  <div class="avatar-image rounded" [ngStyle]="{'backgroundImage' : 'url(' + imageUrl + ')'}"></div>
	</div>
	<div class="overflow-x-hidden">
	  <h5 class="text-white text-ellipsis small">{{name}}</h5>
	  <button class="btn btn-sm btn-warning" (click)="accept()">
	  	Accept <i class="fa fa-check"></i>
	  </button>
	  <button class="btn btn-sm btn-light" (click)="decline()">
	  	Decline <i class="fa fa-ban"></i>
	  </button>
	</div>
</div>		
