<span class="text-warning bg-black-75 rounded d-flex align-items-center justify-content-center p-1 unselectable" [ngClass]="isColumn ? 'flex-column' : 'flex-row'" [style.fontSize]="fontSize + 'px'" [style.minWidth]="'3em'">
    <div *ngIf="icon" class="stat-icon mr-1" [ngStyle]="{backgroundImage: 'url(' + icon + ')'}"></div>
    <span>{{data}}</span>
</span>
