<div *ngIf="!isLoading" class="uk-container-xsmall uk-container">
  <div class="uk-child-width-1-2 uk-grid-column-large" uk-grid>
    <app-card-shield [label]="'PvP'" [set]="0" (click)="onPvPClick()"></app-card-shield>
    <app-card-shield [label]="'PvE'" [set]="1" (click)="onPvEClick()" ></app-card-shield>
  </div>
  <!-- <div class="col-12 col-md-8 order-2 order-md-1 mb-2">
    <div class="card bg-black-75">
      <div class="card-header bg-dark text-center">
        <h4 class="text-warning my-1">Players in Lobby</h4>
      </div>
      <div class="card-footer">
        <div class="form-group m-0">
          <div class="input-group">
            <input type="text" name="filter" class="form-control form-control-sm" placeholder="Search for player" [(ngModel)]="term">
            <div class="input-group-prepend">
              <span class="input-group-text rounded-right">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body d-flex flex-wrap">
        <app-avatar-lobby class="col-12 col-md-6 py-2" [data]="item" *ngFor="let item of lobbyPlayers | filter:term" (invite)="invitePlayer(item)"></app-avatar-lobby>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 order-1 order-md-2 mb-2">
    <div class="card bg-black-75">
      <div class="card-header bg-dark text-center">
        <h4 class="text-warning my-1">Recieved Invitations</h4>
      </div>
      <div class="card-body d-flex flex-column">
        <app-avatar-invitation class="py-1" [data]="item" *ngFor="let item of receivedInvitation" (ok)="invitationAccepted(item)"></app-avatar-invitation>
      </div>
    </div>
  </div> -->
</div>
