<div class="card bg-black-75">
  <div class="card-header bg-dark py-2 text-center">
    <h5 class="text-primary text-ellipsis m-0">{{label || 'Summary'}}</h5>
  </div>
  <div class="card-body d-flex flex-column justify-content-center align-items-center text-white">
    <span>Unit card: {{_cardSet?.unitCards?.length}}</span>
    <span>Hero card: {{_cardSet?.heroCards?.length}}</span>
    <span [ngClass]="{'text-danger': !isValid}">Total card:
      {{_cardSet?.cards?.length || 0}}
      <span [hidden]="!canValidate">
        /{{_minDeckSize}}
      </span>
    </span>
  </div>
</div>
