<div class="container-fluid d-flex flex-wrap bg-black-75 py-5">
  <div class="col-12 d-flex justify-content-center mb-5">
    <img class="logo" [src]="appLogo" draggable="false" />
    <div class="d-flex flex-column justify-content-end">
      <h2 class="text-success">
        Gwent of Warcraft
      </h2>
      <div class="d-flex justify-content-around">
        <a class="btn btn-warning" [href]="'https://www.usgamer.net/articles/28-06-2017-the-witcher-3-wild-hunt-how-to-play-the-gwent-card-game-guide'"
          target="_blank" translate>How to Play</a>
        <a class="btn btn-warning" [routerLink]="'/lobby'" translate>Play Now</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 d-flex justify-content-center">
    <img class="avatar avatar-lg rounded border border-warning" [src]="user ? user.ImageUrl : ''" draggable="false" alt="User's Avatar">
    <div class="d-flex flex-column ml-3">
      <h3 class="text-warning">{{user?.Name}}</h3>
      <span class="text-white">Level {{user?.Level || 1}} - {{'Elite'}}</span>
      <span class="text-white">Coin {{user?.Coin || 0}}</span>
    </div>
  </div>
  <div class="col-12 col-lg-6 d-flex justify-content-center">
    <table class="table table-borderless text-center">
      <tr class="text-warning">
        <th>Match played</th>
        <th>Win ratio</th>
        <th>Favorite Faction</th>
      </tr>
      <tr class="text-white">
        <td>12</td>
        <td>58%</td>
        <td>Horde</td>
      </tr>
      <tr class="text-warning">
          <th>Match won</th>
          <th>Match lost</th>
          <th>Match drawed</th>
        </tr>
        <tr class="text-white">
          <td>7</td>
          <td>4</td>
          <td>1</td>
        </tr>
    </table>
  </div>
</div>
