<div [attr.visibility]="data ? 'visible' : 'hidden'" class="card-info">
  <div class="d-flex flex-column" *ngIf="data">
    <b class="text-primary text-center mb-2">{{data?.Name | titlecase}}</b>
    <table class="text-light">
      <tr>
        <td>
          <div class="card-info__icon" *ngIf="_ICON.CLASS">
            <img [src]="_ICON.ATTACK" draggable="false" uk-svg class="text-primary">
          </div>
        </td>
        <td class="text-left">Power</td>
        <td class="text-right">{{data?.Damage}}</td>
      </tr>
      <tr>
        <td>
          <div class="card-info__icon" *ngIf="_ICON.CLASS">
            <img [src]="_ICON.CLASS" draggable="false" uk-svg class="text-primary">
          </div>
        </td>
        <td class="text-left">Class</td>
        <td class="text-right">{{data?.UnitClass | titlecase}}</td>
      </tr>
      <tr *ngIf="data.IsHero">
        <td>
          <div class="card-info__icon">
            <img [src]="_ICON.HERO" draggable="false" uk-svg class="text-success">
          </div>
        </td>
        <td colspan="2">
          <span class="text-success">Hero card</span>
        </td>
      </tr>
    </table>
  </div>
</div>
