<div class="card__wrapper unselectable uk-transition-toggle" [ngClass]="wrapperCss">
  <div class="card border-dark rounded uk-transition-opaque" [ngClass]="cardCss">
    <div class="card__flag" [ngClass]="flagCss" *ngIf="isShowable">
      <div class="d-flex w-100 h-100 flex-column align-items-center">
        <div class="card__flag__damage font-warcraft" *ngIf="isShowable && data.Damage !== undefined">
          {{data.Damage || 0}}
        </div>
        <div class="card__flag__class" *ngIf="isShowable">
          <img [src]="unitClassSvg" uk-svg>
        </div>
      </div>
    </div>
    <div [attr.data-src]="backgroundImage" uk-img class="card__image">
    </div>
  </div>
</div>
