@import "src/theme/theme-variables";

$glyph-size: 0.75em;
$flag-ratio: 0.4;
$flag-scale-factor: 1.5;

:host::ng-deep {

  .card__wrapper {
    &--active {
      cursor: pointer;
    }

    .card {
      border-width: 2px;
      position: relative;
      min-width: map-get($card, minWidth);
      width: calc(#{$card-width});
      overflow: visible;
      transition: transform 0.3s ease;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(assets/images/border-gold.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
      }

      &--large {
        $resize: calc((#{$card-width}) * #{map-get($card, sizeFactor)});
        width: $resize;

        .card__flag {
          transform: translateX(-50%) translateY(85%) scale(calc(#{$flag-scale-factor} * #{map-get($card, sizeFactor)}));
        }
      }

      &__flag {
        $size: calc(#{$card-width});
        position: absolute;
        top: 0;
        left: 0;
        $height: $size;
        height: $height;
        width: calc(#{$height} * #{$flag-ratio});
        transform: translateX(-50%) scale(#{$flag-scale-factor});
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        font-size: calc(#{$size} * 0.15);

        &--unit {
          background-image: url(assets/images/card-flag-unit.png);
        }

        &--hero {
          background-image: url(assets/images/card-flag-hero.png);
        }

        &__class,
        &__damage {
          text-align: center;
        }

        &__damage {
          color: map-get($theme-colors, primary);
          text-shadow: 1px 1px #000;
          margin-top: 25%;
        }

        &__class {
          margin-top: 25%;
          width: $glyph-size;
          color: theme-color('primary');
        }
      }

      &__image {
        width: 100%;
        padding-top: calc(#{$card-size-ratio} * 100%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
