@import "src/theme/theme-variables";

:host::ng-deep {
  .navbar {
    margin-bottom: $spacer;

    .navbar-nav {
      .nav-link {
        margin-left: 1.5em !important;
      }
    }
  }


  .nav-link.dropdown-toggle {
    cursor: pointer;
  }

  #user-avatar {
    width: 20px;
    height: 20px;
  }

  #app-logo {
    width: auto;
    height: 30px;
  }

  @keyframes scales {
    0% {
      transform: scale(0.9)
    }

    50% {
      transform: scale(1.1)
    }

    100% {
      transform: scale(0.9)
    }
  }

  #battle-button {
    position: relative;
    overflow: hidden;
    font-weight: 700;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: theme-color('primary');

    span {
      vertical-align: bottom !important;
    }

    svg {
      width: 1em;
      height: 1em;
    }

    &:hover {
      svg {
        animation: scales 1s infinite;
      }
    }
    &:before {
      content: '';
      width: 100px;
      height: 100%;
      position: absolute;
      -webkit-animation: shimmer 4s infinite;
      -moz-animation: shimmer 4s infinite;
      animation: shimmer 4s infinite;
    }
  }



  $shimmer-color: rgba(255, 230, 1, 0.644) ;
  @keyframes shimmer {
    0% {
      background: -o-linear-gradient(-45deg, transparent 0%, #{$shimmer-color} 50%, transparent 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg, transparent 0%, #{$shimmer-color} 50%, transparent 100%);
      /* IE10+ */
      background: linear-gradient(135deg, transparent 0%, #{$shimmer-color} 50%, transparent 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
      /* IE6-9 fallback on horizontal gradient */
      left: -500px;
      top: 0px;
    }

    100% {
      background: -o-linear-gradient(-45deg, transparent 0%, #{$shimmer-color} 50%, transparent 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg, transparent 0%, #{$shimmer-color} 50%, transparent 100%);
      /* IE10+ */
      background: linear-gradient(135deg, transparent 0%, #{$shimmer-color} 50%, transparent 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
      /* IE6-9 fallback on horizontal gradient */
      left: 500px;
      top: 0px;
    }

  }
}
