<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://github.com/ngx-rocket">
      <img [src]="appLogo" draggable="false" id="app-logo">
      <span translate class="font-warcraft align-bottom">GWENT OF WARCRAFT</span>
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navbar-menu" aria-label="Toggle navigation"
      (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase rounded border border-primary" routerLink="/lobby"
          routerLinkActive="active" id="battle-button">
          <div class=" uk-flex uk-flex-middle">
            <img [src]="ICONS.BATTLE" uk-svg>
            <span translate class="ml-2">Battle</span>
          </div>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/deck" routerLinkActive="active">
          <i class="fas fa-box-open"></i>
          <span translate>Deck</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/store" routerLinkActive="active">
          <i class="fas fa-shopping-cart"></i>
          <span translate>Store</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="nav-item" ngbDropdown placement="bottom-right">
          <a id="language-dropdown" class="nav-link" ngbDropdownToggle>{{currentLanguage}}</a>
          <div ngbDropdownMenu aria-labelledby="language-dropdown">
            <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
              {{language}}
            </button>
          </div>
        </div>
        <div class="nav-item" ngbDropdown placement="bottom-right">
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fas fa-user-circle" *ngIf="!image"></i>
            <img *ngIf="image" id="user-avatar" class="rounded-circle" [src]="image" draggable="false">
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown">
            <h6 class="dropdown-header">
              <span translate>Logged in as</span>
              <b>{{name}}</b>
            </h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()" translate>Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
