<div class="p-2 bg-black-50 d-flex w-100 rounded">
  <div class="avatar avatar-sm mr-2">
    <div class="avatar-image rounded" [ngStyle]="{'backgroundImage' : 'url(' + imageUrl + ')'}"></div>
  </div>
  <div class="d-flex flex-column text-white overflow-x-hidden">
    <span class="font-weight-bold text-ellipsis">{{name}}</span>
    <span>Level: {{level}}</span>
  </div>
  <div class="d-flex flex-column ml-auto">
    <button title="Invite to play" class="btn btn-sm btn-theme mb-1" *ngIf="playable && !isSelf" (click)="onInvite()">
      <i class="fa fa-envelope"></i>
      <!-- <span>Invite</span> -->
    </button>
    <button title="Add friend" class="btn btn-sm btn-theme" *ngIf="isFriendable">
      <i class="fa fa-plus"></i>
      <!-- <span>Add Friend</span> -->
    </button>
  </div>
</div>
