.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
