/*
 * Application global variables.
 */

// Set Font Awesome font path
$fa-font-path: "~@fortawesome/fontawesome-free-webfonts/webfonts";

// ---------------------------------------------------------------------------
// Bootstrap variables
//
// Override Bootstrap variables here to suite your theme.
// Copy variables you want to customize from node_modules/bootstrap/scss/_variables.scss

//
// Color system
//

$white:  						#fff;
$gray-100: 					#f8f9fa;
$gray-200: 					#e9ecef;
$gray-300: 					#dee2e6;
$gray-400: 					#ced4da;
$gray-500: 					#adb5bd;
$gray-600: 					#868e96;
$gray-700: 					#495057;
$gray-800: 					#343a40;
$gray-900: 					#212529;
$black:  						#000;
$black-25: 					rgba(0, 0, 0, 0.25);
$black-50: 					rgba(0, 0, 0, 0.5);
$black-75: 					rgba(0, 0, 0, 0.75);

$blue:    					#0073dd;
$indigo:  					#6610f2;
$purple:  					#6f42c1;
$pink:    					#e83e8c;
$red:     					#dc3545;
$orange:  					#fd7e14;
$yellow:  					#ffc107;
$green:   					#28a745;
$teal:    					#20c997;
$cyan:    					#17a2b8;

$theme-colors: (
  primary: 					$yellow,
  secondary: 				$gray-600,
  success: 					$green,
  info: 						$cyan,
  warning: 					$yellow,
  danger: 					$red,
  light: 						$gray-100,
  dark: 						$black
);

// Use Bootstrap defaults for other variables, imported here so we can access all app variables in one place when used
// in components.
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

// Card properties definitions
// ====================================================================================================
$card: (
	widthRatio:       4,
  heightRatio:      3,
  minWidth:         40px,
  sizeFactor:       2.75, // define how much different between card size (sm, md, lg,...)
  scaleFactor: 		  1.5vw, // define how much the card scale with screen width
);

$card-size-ratio:   #{map-get($card, widthRatio)} / #{map-get($card, heightRatio)}; 	// define size ratio between width & height
$card-width: 			  #{map-get($card, minWidth)} + #{map-get($card, scaleFactor)};
$card-height: 			#{$card-size-ratio} * #{$card-width};



// Background images properties
// ====================================================================================================
$background: (
  "main": 						url(assets/images/background-main.jpg) center no-repeat fixed,
  "fog": 						  url(assets/images/background-fog.jpg) center repeat-y,
  "board": 						url(assets/images/background-board.jpg) center no-repeat,
  "wood": 						url(assets/images/background-wood.jpg) center no-repeat fixed,
);

// Border images properties
// ====================================================================================================
$border: (
  "gold":             7.5 round url(assets/images/border-gold.png),
  "wood":             10 round url(assets/images/border-wood.png),
  "wood-elite":       7.5 round url(assets/images/border-wood-elite.png),
);

// Font properties
// ====================================================================================================
$font: (
	warcraft: 'LifeCraft',
);

$font-size: (
  sm: 11px,
  md: 14px,
  lg: 18px,
  xl: 23px,
)
