<div class="p-1 p-md-3 bg-black-75 rounded" [title]="title">
  <div class="card-container mb-0 mb-md-2">
    <app-card [data]="lastCard" [type]="type" *ngIf="lastCard" [isReveal]="isReveal"></app-card>
  </div>
  <app-stat-box [data]="count" [icon]="icon"></app-stat-box>
</div>
