<div class="w-100 card-row d-flex" #container>
  <app-card *ngFor="let item of displayedData" [data]="item.card" [isReveal]="isReveal" (dblclick)="onDblClick(item)"
    class="mx-1 card-row__item" [style.left.px]="item.position"></app-card>
</div>
