@import "src/theme/theme-variables";

.card-row {
  min-height: calc(#{calc(#{$card-width})} * #{$card-size-ratio});
  position: relative;
	&__item {
	  position: absolute;
	  transform: translateX(-50%);
	}
}

